<% if line_item == @current_item %>
<tr class="line-item-highlight">
<% else %>
<tr id="<%= dom_id line_item %>">
<% end %>
  <td class="text-right"><%= line_item.quantity %></td>
  <td>&times;</td>
  <td class="pr-2">
    <%= line_item.product.title %>
  </td> 
  <td class="text-right font-bold">
    <%= number_to_currency(line_item.total_price) %>
  </td>
    <td class="text-center font-thin">
    
    <%= button_to line_item, method: :delete do %>
      <i class="fa-solid fa-trash"></i>
    <% end %>
  </td>
</tr>
